// COLORS
$primary-color: #000000;
$secondary-color: #000000;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(250, 250, 250);

$dark-grey: #242323;

$dark-blue-text: #757577; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
